<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Nouveau menu en ligne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Un menu a été mis en ligne.</h1>
<table>
    <tbody>
    <tr>
        <th>Titre</th>
        <td>{{ menu.titre }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ menu.prix|number_format(2, ',', ' ') }}</td>
    </tr>
    <tr>
        <th>Prix</th>
        <td>{{ menu.statut }} €</td>
    </tr>
    <tr>
        <th>Plats</th>
        <td>
            {% if menu.plats is not empty %}
                {% for plat in menu.plats %}
                    <div>
                        <span style="{% if not plat.image %} margin-left: 200px; {% endif %}">
                            <span>{{ plat.titre }}</span>
                        </span>
                    </div>
                {% endfor %}
            {% else %}
                <em>Aucun plat</em>
            {% endif %}
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>
