<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Validation de plat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Un nouveau plat a été créé.</h1>
<table>
    <tbody>
    <tr>
        <th>Titre</th>
        <td>{{ plat.titre }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ plat.description }}</td>
    </tr>
    <tr>
        <th>Prix</th>
        <td>{{ plat.prix|number_format(2, ',', ' ') }} €</td>
    </tr>
    <tr>
        <th>Statut</th>
        <td>{{ plat.statut }}</td>
    </tr>
    <tr>
        <th>Fait maison</th>
        <td>{% if plat.faitMaison %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
        <th>Catégorie</th>
        <td>{{ plat.categorie }}</td>
    </tr>
    <tr>
        <th>Allergènes</th>
        <td>{{ plat.allergenes }}</td>
    </tr>
    <tr>
        <th>Auteur</th>
        <td>{{ plat.user.username }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
