{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="text-center">Liste des plats</h1>

    {% if plats is empty %}
        <p class="text-danger text-center">Aucun plat disponible</p>
    {% else %}
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <th>Statut</th>
                {% endif %}
                <th>Faitmaison</th>
                <th>Image</th>
                <th>Catégorie</th>
                <th>Allergènes</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for plat in plats %}
                <tr>
                    <td>{{ plat.titre }}</td>
                    <td>{{ plat.description }}</td>
                    <td>{{ plat.prix|number_format(2, ',', ' ') }} €</td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td>{{ plat.statut }}</td>
                    {% endif %}
                    <td>{% if plat.faitMaison %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if plat.image %}
                            <img src="{{ asset('bundles/restaurant/plats/' ~ plat.image) }}" alt="image de plat" class="img-responsive img-rounded img-resize-100">
                        {% endif %}</td>
                    <td>{{ plat.categorie }}</td>
                    <td>{{ plat.allergenes }}</td>
                    <td>{{ plat.user.username }}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li class="margin-bottom">
                                <a href="{{ path('plat_show', { 'id': plat.id }) }}" class="btn btn-primary btn-sm">Détails</a>
                            </li>
                            {% if is_granted('ROLE_EDITEUR') %}
                                <li>
                                    <a href="{{ path('plat_edit', { 'id': plat.id }) }}" class="btn btn-primary btn-sm">Modifier</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a role="button" class="btn col-xs-4 col-xs-offset-4 btn-primary" href="{{ path('plat_new') }}">
            Créer un nouveau plat
        </a>
    {% endif %}
{% endblock %}
