{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="pull-left">
        <a href="{{ path('plat_index') }}" class="btn btn-primary button_full">Retour à la liste</a>
    </div>

    <h1 class="text-center">Plat</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ plat.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ plat.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ plat.prix|number_format(2, ',', ' ') }} €</td>
            </tr>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <tr>
                <th>Statut</th>
                <td>{{ plat.statut }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Fait maison</th>
                <td>{% if plat.faitMaison %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{% if plat.image %}
                        <img src="{{ asset('bundles/restaurant/plats/' ~ plat.image) }}" alt="image de plat" class="img-responsive img-rounded img-resize-200">
                    {% else %} Aucune image
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ plat.categorie }}</td>
            </tr>
            <tr>
                <th>Allergènes</th>
                <td>{{ plat.allergenes }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ plat.user.username }}</td>
            </tr>
        </tbody>
    </table>

    {% if plat.statut == 'En validation' %}
        <div class="row">
            {% if is_granted('ROLE_REVIEWER') %}
                <a href="{{ path('plat_validate', { 'id': plat.id }) }}" class="btn btn-success button_full col-md-6">Valider</a>
                <a href="{{ path('plat_refuse', { 'id': plat.id }) }}" class="btn btn-danger button_full col-md-6">Refuser</a>
            {% endif %}
        </div>
    {% endif %}

    <br>

    <div class="row">
        {% if is_granted('ROLE_EDITEUR') %}
            <a href="{{ path('plat_edit', { 'id': plat.id }) }} " class="btn btn-primary button_full col-md-6">Modifier</a>
        {% endif %}
        {% if is_granted('ROLE_CHEF') %}
            {{ form_start(delete_form) }}
            <input class="btn btn-danger col-md-6" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        {% endif %}
    </div>

{% endblock %}
