<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="pull-right">
                        <div class="connect-xs">
                    <a class="hidden-sm hidden-md hidden-lg"
                        {% if app.user %}
                            href="{{ path('logout') }}">
                                <i class="glyphicon glyphicon-off text-primary" aria-hidden="true"></i>

                        {% else %}
                            href="{{ path('login') }}">
                                <i class="glyphicon glyphicon-user text-primary" aria-hidden="true"></i>

                        {% endif %}

                    </a>
                        </div>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    </div>
                    <div class="navbar-brand"><a href="{{ path('home') }}" id="menu-home" class="btn-link">Jojo Resto</a></div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% if app.request.attributes.get('_route') matches '/^plat.*/' %}class="active"{% endif %}><a href="/plat">Plats</a></li>
                        <li {% if app.request.attributes.get('_route') matches '/^menu.*/' %}class="active"{% endif %}><a href="/menu">Menus</a></li>
                        {% if is_granted('ROLE_SERVEUR') %}
                            <li {% if app.request.attributes.get('_route') matches '/^reservation.*/' %}class="active"{% endif %}><a href="/reservation">Réservations</a></li>
                        {% else %}
                            <li {% if app.request.attributes.get('_route') matches '/^reservation.*/' %}class="active"{% endif %}><a href="/reservation">Réserver une table</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_CHEF') %}
                            <li {% if app.request.attributes.get('_route') matches '/^user.*/' %}class="active"{% endif %}><a href="/user">Users</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}">
                                <i class="glyphicon glyphicon-off" aria-hidden="true"></i>Déconnexion
                            </a>
                        {% else %}
                            <a href="{{ path('login') }}">
                                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>Connexion
                            </a>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container bg-page">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('js/jquery-3.1.1.min.js')}}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery-ui.min.js')}}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
