{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="text-center">Super Restaurant Bundle</h1>
    <br>
    <br>
    <div class="row text-center">
        <img src="{{ asset('img/image-accueil-1.jpg') }}" class="img-resize-400">
        <img src="{{ asset('img/image-accueil-3.jpg') }}" class="img-resize-400">
    </div>
    <div class="row text-center">
        <img src="{{ asset('img/image-accueil-4.jpg') }}" class="img-resize-400">
        <img src="{{ asset('img/image-accueil-2.jpg') }}" class="img-resize-400">
    </div>
{% endblock %}