{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <button type="submit" class="btn btn-success col-xs-6">Modifier</button>
        <a href="{{ path('user_index') }}" role="button" class="btn btn-primary col-xs-6">Retour à la liste</a>
    {{ form_end(edit_form) }}
{% endblock %}
