{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Liste d'utilisateurs</h1>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Actif</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
                <td>
                    <ul class="list-unstyled">
                        <li class="margin-bottom">
                            <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-primary btn-sm">Détails</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary btn-sm">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a role="button" class="btn col-xs-4 col-xs-offset-4 btn-primary" href="{{ path('user_new') }}">Créer un
        nouvel utilisateur
    </a>
{% endblock %}
