{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Ajout d'un utilisateur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success col-xs-6">Créer</button>
        <a href="{{ path('user_index') }}" role="button" class="btn btn-primary col-xs-6">Retour à la liste</a>
    {{ form_end(form) }}

{% endblock %}
