{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="pull-left">
        <a href="{{ path('user_index') }}" class="btn btn-primary button_full">Retour à la liste</a>
    </div>

    <h1 class="text-center">Utilisateur</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if user.isActive %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a href="{{ path('user_edit', { 'id': user.id }) }} " class="btn btn-primary button_full col-md-6">Modifier</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger col-md-6" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
