{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Liste des réservations</h1>

    {% if reservations is empty %}
        <p class="text-danger text-center">Aucune réservation</p>
    {% else %}
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Nbpersonnes</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <!--<th>Actions</th>-->
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{% if reservation.date %}{{ reservation.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservation.heure %}{{ reservation.heure|date('H:i:s') }}{% endif %}</td>
                <td>{{ reservation.nbPersonnes }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.nom }}</td>
                <td>{{ reservation.telephone }}</td>
                <!--<td>
                    <ul>
                        <li>
                            <a href="{# path('reservation_show', { 'id': reservation.id }) #}">show</a>
                        </li>
                    </ul>
                </td>-->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
