{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Formulaire de réservation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success col-xs-6">Créer</button>
        <a href="{{ path('home') }}" role="button" class="btn btn-primary col-xs-6">Retour à l'accueil</a>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('.js-datepicker').prop('readonly', true);
        });
    </script>
{% endblock %}