body {
    background: url("../img/bg.jpg") fixed no-repeat center;
    background-size: 100% auto;
    padding-top: 70px;
}

.bg-page{
    background-color: white;
    border-radius: 10px;
    height: 100%;
    min-height: 80vh;
    padding: 30px;
}

.glyphicon{
    padding-right: 5px;
}

.connect-xs{
    display: inline-block;
    margin-top: 8px;
    margin-right: 15px;
    font-size: 30px;
}

.connect-xs i{
    color: #888;
}

#menu-home{
    text-decoration: none;
}

.img-resize-100{
    width: 100px;
    height: 100px;
}

.img-resize-200{
    width: 200px;
    height: 200px;
}

.img-resize-400{
    width: 400px;
    height: 225px;
    margin: 0;
}

.margin-bottom{
    margin-bottom: 10px;
}

.margin-right{
    margin-right: 10px;
}

.margin-left-200{
    margin-left: 200px;
}

.vcenter {
    vertical-align: middle;
    float: none;
}

.inline-block{
    /*position: relative;*/
    display: inline-block;

}
