{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="text-center">Liste des menus</h1>

    {% if menus is empty %}
      <p class="text-danger text-center">Aucun menu disponible</p>
    {% else %}
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Prix</th>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <th>Statut</th>
                    {% endif %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.titre }}</td>
                    <td>{{ menu.prix|number_format(2, ',', ' ') }} €</td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td>{{ menu.statut }}</td>
                    {% endif %}
                    <td>
                        <ul class="list-unstyled">
                            <li class="margin-bottom">
                                <a href="{{ path('menu_show', { 'id': menu.id }) }}" class="btn btn-primary btn-sm">Détails</a>
                            </li>
                            {% if is_granted('ROLE_EDITEUR') %}
                                <li>
                                    <a href="{{ path('menu_edit', { 'id': menu.id }) }}" class="btn btn-primary btn-sm">Modifier</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if is_granted('ROLE_EDITEUR') %}
        <a role="button" class="btn col-xs-4 col-xs-offset-4 btn-primary" href="{{ path('menu_new') }}">
            Créer un nouveau menu
        </a>
    {% endif %}
{% endblock %}
