{% extends 'base.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="pull-left">
        <a href="{{ path('menu_index') }}" class="btn btn-primary button_full">Retour à la liste</a>
    </div>

    <h1 class="text-center">Menu</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ menu.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ menu.prix|number_format(2, ',', ' ') }} €</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ menu.statut }}</td>
            </tr>
            <tr>
                <th>Plats</th>
                <td>
                {% if menu.plats is not empty %}
                    {% for plat in menu.plats %}
                        <div>
                            <span class="inline-block vcenter margin-right">
                                {% if plat.image %}
                                    <img src="{{ asset('bundles/restaurant/plats/' ~ plat.image) }}" alt="image de plat" class="img-responsive img-rounded img-resize-200">
                                {% endif %}
                            </span>
                            <span class="text-center {% if not plat.image %} margin-left-200 {% endif %}">
                                <a href="{{ path('plat_show', { 'id': plat.id }) }}">{{ plat.titre }}</a>
                            </span>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <em>Aucun plat</em>
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if menu.statut == 'En validation' %}
        <div class="row">
            <a href="{{ path('menu_validate', { 'id': menu.id }) }}" class="btn btn-success button_full col-md-6">Valider</a>
            <a href="{{ path('menu_refuse', { 'id': menu.id }) }}" class="btn btn-danger button_full col-md-6">Refuser</a>
        </div>
    {% endif %}

    <br>

    <div class="row">
        {% if is_granted('ROLE_EDITEUR') %}
            <a href="{{ path('menu_edit', { 'id': menu.id }) }} " class="btn btn-primary button_full col-md-6">Modifier</a>
        {% endif %}
        {% if is_granted('ROLE_CHEF') %}
            {{ form_start(delete_form) }}
            <input class="btn btn-danger col-md-6" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        {% endif %}
    </div>

{% endblock %}
