{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="col-md-12">
        <form action="{{ path('login') }}" method="post" class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Identifiez-vous</h1>

            <label for="username" class="sr-only">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Nom d'utilisateur"/>
            <br>

            <label for="password" class="sr-only">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe"/>
            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        </form>
    </div>
{% endblock %}
